body{
    box-sizing: border-box;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(5, 65, 65);
}
.item
{
    border: 2px solid rgb(13, 4, 1);
    background-color:rgb(94, 215, 215);
    color: white;
    padding: 10px;
    text-align: center;
    
}
.container1
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    background-color: rgb(125, 97, 227);

}
@media (max-width:425px) {
.container{
    grid-template-columns: repeat(2,1fr);
}
}
@media (min-width:768px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
    }
@media (max-width:425px) {
        .container1{
            grid-template-columns: repeat(2,1fr);
        }
        }
@media (min-width:768px) {
            .container1{
                grid-template-columns: repeat(2,1fr);
            }
            }    
    
    

