.Name
{
    color: black;
    padding-left:1rem
}
.Head
{
    background:rgb(249, 219, 180)
}
.head
{
    padding-left:25rem;
}
.student
{
    padding-right: 5rem;
}
.c
{
    background-color:aqua
}
.co
{
    background-color:aqua
}
.ac
{
    background-color:aqua
}
.a
{
    background-color:aqua
}
.pp
{
    background-color:aqua
}
.i
{
    background-color:aqua
}
.am
{
    background-color:aqua
}
.o
{
    background-color:aqua
}
.m
{
    background-color:aqua
}
.pp
{
    background-color:aqua
}
.r
{
    background-color:aqua
}
.d
{
    background-color:aqua
}
img
{
    border-radius: 1rem;
}





